<% layout("/layouts/boilerplate") -%>
 <!-- <%= success %> -->
<body>

    <h1>All Listings</h1>


    <div class="row row-cols-lg-3  row-cols-md-2  row-cols-sm-1" >
 <% for (let listing of allListings) { %>
      <a  href="/Listing/<%= listing._id %>" class="listing-link">
        <div class="card" >

            <img
                src="<%= listing.image.url %>"
                class="card-img-top"
                alt="<%= listing.title %>"
                style="height: 20rem;"
                
            >
            <div class="card-img-overlay">abcd</div>

            <div class="card-body">

                <h5 class="card-title">
                    <%= listing.title %>
                </h5>

                <!-- <p class="card-text">
                    <%= listing.description %>
                </p> -->

                <p class="card-text">
                    ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                </p>

                <p class="card-text">
                    📍 <%= listing.location %>, <%= listing.country %>
                </p>

              


            </div>

        </div>

    
</a>
    <% } %>


    </div>
   
</body>